.screenreaders {
    clip: rect(1px, 1px, 1px, 1px); 
    height: 1px; 
    width: 1px; 
    overflow: hidden; 
    position: absolute !important;
}

html, body {
    height: 95%;    
}

body {
    background-color: #282a36;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #8be9fd;    
}
a {
    text-decoration: none;
    color: #bd93f9;
}

h1 {
    grid-area: header;
    padding: 0 20px 40px 10px;
    color: #6272a4;
}

.wrapper {    
    min-height: 100%;        
    grid-template-areas: 
        "header"    
        "content"    
        "footer";
}

#tippanel {
    align-self: center;
    justify-self: center;
    color: #8be9fd;
    text-align: center;
    border-radius: 20px;
    margin: 0px 50px;
    padding-top: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#tiptitle {
    font-size: 4rem;
}

#tipbody {
    font-size: 2rem;
}

footer {
    grid-area: footer;
    text-align: center;
    color: #6272a4;
}